aiofiles
annotated-types
anyio
certifi
charset-normalizer
click
distro
elevenlabs
fastapi
ffmpy
filelock
fsspec
gradio
gradio-client
groq
gtts
h11
httpcore
httpx
huggingface-hub
idna
jinja2
markdown-it-py
markupsafe
mdurl
numpy
orjson
packaging
pandas
pillow
pyaudio
pydantic
pydantic-core
pydub
pygments
python-dateutil
python-multipart
pytz
pyyaml
requests
rich
ruff
safehttpx
semantic-version
shellingham
six
sniffio
speechrecognition
starlette
tomlkit
tqdm
typer
typing-extensions
tzdata
urllib3
uvicorn
websockets
python-dotenv
